{% extends "UnrtechEasybillBundle:Default:base.html.twig" %}

{% block title %}{% if title is defined %}{{ title|trans({},'UnrtechEasybillBundle') }}{% else %}{{ parent() }}{% endif %}{% endblock title %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
    {% if form is defined %}
        <div class="col-xs-10">
            <form action="{% if action == 'edit' %}{{ path('path_form_bill_edit', {'id':id}) }}{% else %}{{ path('path_form_bill_create') }}{% endif %}" method="post" {{ form_enctype(form) }} class="form-horizontal span8">
                <div class="row form-group">
                    <span class="col-xs-3 inline">{{ form_label(form.reference) }}</span>
                    {{ form_errors(form.reference) }}
                    <span class="col-xs-9">{{ form_widget(form.reference) }}</span>
                </div>
                <div class="row form-group">
                    <span class="col-xs-3 inline">{{ form_label(form.taxes) }}</span>
                    {{ form_errors(form.taxes) }}
                    <span class="col-xs-9">{{ form_widget(form.taxes) }}</span>
                </div>
                <div class="row form-group">
                    <span class="col-xs-3 inline">{{ form_label(form.totalHt) }}</span>
                    {{ form_errors(form.totalHt) }}
                    <span class="col-xs-9">{{ form_widget(form.totalHt) }}</span>
                </div>
                <div class="row form-group">
                    <span class="col-xs-3 inline">{{ form_label(form.status) }}</span>
                    {{ form_errors(form.status) }}
                    <span class="col-xs-9">{{ form_widget(form.status) }}</span>
                </div>
                <div class="row form-group">
                    <span class="col-xs-3 inline">{{ form_label(form.payment) }}</span>
                    {{ form_errors(form.payment) }}
                    <span class="col-xs-9">{{ form_widget(form.payment) }}</span>
                </div>
                <div class="row form-group">
                    <span class="col-xs-3 inline">{{ form_label(form.customer) }}</span>
                    {{ form_errors(form.customer) }}
                    <span class="col-xs-9">{{ form_widget(form.customer) }}</span>
                </div>
                <div class="row">
                    <div class="col-xs-1 pull-right inline">
                        <button type="button" value="Fermer" title="Fermer" class="btn btn-info  glyphicon glyphicon-remove return-list pull-right"></button>
                    </div>
                    <div class="col-xs-1 pull-right inline">
                        <button type="submit" value="Enregistrer" title="Enregistrer" class="btn btn-primary glyphicon glyphicon-ok pull-right"></button>
                    </div>
                </div>
            </form>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block footer %}
{% endblock footer %}

{% block javascripts %}{{ parent() }}

<script type="text/javascript">
    jQuery(function($){
        $('button.return-list').unbind('click').click(function(){
            document.location.href = $('.navbar-brand:eq(1)').attr('href');
        });
    });
</script>
{% endblock %}