{% extends "UnrtechEasybillBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    {% if error %}
        <div>{{ error|trans }}</div>
    {% endif %}
    <div class="col-xs-12 block-center full-height">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            
            <div class="col-xs-span3">
                <label for="username">{{ 'security.login.username'|trans }}</label>
            </div>
            <div class="col-xs-span4">
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>

            <div class="col-xs-span3">
                <label for="password">{{ 'security.login.password'|trans }}</label>
            </div>
            <div class="col-xs-span5">
                <input type="password" id="password" name="_password" required="required" />
            </div>

            <div class="col-xs-span3">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>

            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </form>
    </div>
{% endblock %}
