<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" media="all"/>
        <link rel="stylesheet" href="{{ asset('bundles/unrtecheasybill/css/style.css') }}" media="all"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <nav class="nav navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('path_home') }}"><span class="glyphicon glyphicon-home" title="Home page"></span></a>
                    {% if is_granted('ROLE_ADMIN') %}<a class="navbar-brand" href="{{ path('path_bills') }}" title="Bill list"><span class="glyphicon glyphicon-th-list"></span></a>{% endif %}
                    {% block nav %}
                        {% if is_granted('ROLE_ADMIN') and not is_granted('ROLE_SUPER_ADMIN') %}<a class="navbar-brand" href="{{ path('path_form_bill_create') }}" title="New Bill"><span class="glyphicon glyphicon-plus"></span></a>{% endif %}
                    {% endblock nav %}
                    {% block customer %}
                        {% if is_granted('ROLE_ADMIN') %}<a class="navbar-brand" href="{{ path('path_customers') }}" title="Customer list"><span class="glyphicon glyphicon-briefcase"></span></a>{% endif %}
                    {% endblock customer %}
                    {% if is_granted('ROLE_ADMIN') and not is_granted('ROLE_SUPER_ADMIN') %}<a class="navbar-brand" href="{{ path('path_parameters') }}" title="Parameters"><span class="glyphicon glyphicon-wrench"></span></a>{% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}<a class="navbar-brand" href="{{ path('path_administration') }}" title="Administration"><span class="glyphicon glyphicon-user"></span></a>{% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="navbar-brand" href="{{ path('fos_user_security_logout') }}" title="Logout" action="logout"><span class="glyphicon glyphicon-log-out"></span></a>
                    {% else %}
                        <a class="navbar-brand" href="{{ path('fos_user_security_login') }}" title="Login"><span class="glyphicon glyphicon-log-in"></span></a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row-fluid">{% block content %}{% endblock %}</div>
            <div class="row-fluid">{% block footer %}{% endblock %}</div>
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery.min.j') }}s"></script>
            <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
        {% endblock %}
    </body>
</html>
