{% extends "UnrtechEasybillBundle:Default:base.html.twig" %}

{% block title %}{% if title is defined %}{{ title|trans({},'UnrtechEasybillBundle') }}{% else %}{{ parent() }}{% endif %}{% endblock title %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="col-xs-11">
            <table class="table table-responsive table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="col-md-1">R&eacute;f&eacute;rence</th>
                        <th class="col-xs-2">Client</th>
                        <th class="col-xs-2">Total HT</th>
                        <th class="col-xs-1">Status</th>
                        <th class="col-md-2">Date Cr&eacute;ation</th>
                        <th class="col-md-2">Date dernier acc&egrave;s</th>
                        <th class="col-xs-2"></th>
                    </tr>
                </thead>
                <tbody>
                    {% if bills is defined and bills|length > 0%}
                        {% for bill in bills %}
                            <tr data-id="{{ bill.id }}">
                                <td>{{ bill.reference }}</td>
                                <td>{{ bill.customer }}</td>
                                <td class="right">{{ bill.totalHt|number_format(2, '.', ',') }} €</td>
                                <td>{{ bill.status }}</td>
                                <td>{{ bill.creationDate|date("d-m-Y") }}</td>
                                <td>{{ bill.updateDate|date("d-m-Y") }}</td>
                                <td>
                                    {% if not is_granted('ROLE_SUPER_ADMIN') %}<a class="btn btn-success glyphicon glyphicon-pencil editBill" data-href="{{ path('path_form_bill_edit', {'id': bill.id}) }}"></a>{% endif %}
                                    <a class="btn btn-primary glyphicon glyphicon-eye-open" href="{{ path('path_view_bill', {'id': bill.id}) }}"></a>
                                    {% if not is_granted('ROLE_SUPER_ADMIN') %}<a class="btn btn-info glyphicon glyphicon-print" href="{{ path('path_bill_pdf_create', {'bill': bill.id}) }}"></a>{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="modalEditFomLabel" role="dialog" tabindex="-1" class="modal fade modalEditFom">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="modalEditFomLabel" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(function($){
            var twsModalEditForm = $('.modalEditFom');
            $('.editBill').unbind('click').click(function(){
                closeModal(twsModalEditForm);
                var url = $(this).attr('data-href');
                $.ajax({
                   url: url,
                   type: 'GET',
                   success: function(res) {
                        $('.modal-body', twsModalEditForm).html(res);
                        openModal(twsModalEditForm, "&Eacute;dition de la facture");
                        manageButtons();
                    },
                    error: function(xhr) {
                        switch (xhr.status) {
                            case 404:
                                break;
                            case 403:
                                document.location.href = $('a.navbar-brand[action=logout]').attr('href');
                                break;
                            default:
                                break;
                        }
                    }
                });
            });
            function closeModal(modal) {modal.removeClass('in').attr('aria-hidden', 'true').css({display: 'none'});}
            function openModal(modal, title) {modal.addClass('in').attr('aria-hidden', 'false').css({display: 'block'});$('h4.modal-title', modal).html(title);}
            function manageButtons(){
                $('.close', twsModalEditForm).unbind('click').click(function(){
                    closeModal(twsModalEditForm);
                });
                $('button.close-modal', twsModalEditForm).unbind('click').click(function(){
                    closeModal(twsModalEditForm);
                });
            };
        });
    </script>
{% endblock %}

