{% extends "UnrtechEasybillBundle:Default:base.html.twig" %}

{% block title %}{% if title is defined %}{{ title|trans({},'UnrtechEasybillBundle') }}{% else %}{{ parent() }}{% endif %}{% endblock title %}

{% block stylesheets %}{{ parent() }}{% endblock %}

{% block nav %}
    {{ parent() }}
    {% if is_granted('ROLE_ADMIN') and not is_granted('ROLE_SUPER_ADMIN') %}<a class="navbar-brand createBillLine" href="#" data-href="{{ path('path_form_bill_line_create', {'parent':bill.id}) }}" title="New line"><span class="glyphicon glyphicon-plus-sign"></span></a>{% endif %}
    {% if is_granted('ROLE_ADMIN') and not is_granted('ROLE_SUPER_ADMIN') %}<a class="navbar-brand" href="{{ path('path_bill_pdf_create', {'bill':bill.id}) }}" title="Print Bill"><span class="glyphicon glyphicon-print"></span></a>{% endif %}
{% endblock nav %}
{% block content %}
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-6">
                <div class="row">
                    {% if bill.company is defined and bill.company.logo64 is defined and bill.company.logo64 != '' and bill.company.logoType is defined  %}
                            <img width="100px;" src="data:image/{{ bill.company.logoType }};base64,{{ bill.company.logo64 }}"/>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    {% if bill.updateDate is defined%}
                        <span class="col-xs-7">{{ bill.updateDate|date('d-m-Y') }}</span>
                    {% endif %}
                    {% if bill.status is defined%}
                            <span class="col-xs-7">{{ bill.status }}</span>
                    {% endif %}
                    {% if bill.reference is defined%}
                            <span class="col-xs-7">{{ bill.reference }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if bill is defined%}
            <div class="row-fluid">
                <!-- Company info -->
                <div class="col-xs-6">
                    <div class="row">
                    {% if bill.company is defined%}
                        <div class="col-xs-12">{{ bill.company }}</div>
                        {% if bill.company.address1 is defined%}
                            <div class="col-xs-12">{{ bill.company.address1 }}</div>
                        {% endif %}
                        {% if bill.company.address2 is defined%}
                            <div class="col-xs-12">{{ bill.company.address2 }}</div>
                        {% endif %}
                        {% if bill.company.bp is defined%}
                            <div class="col-xs-12">{{ bill.company.bp }}</div>
                        {% endif %}
                        {% if bill.company.cp is defined%}
                            <div class="col-xs-12">{{ bill.company.cp }}</div>
                        {% endif %}
                        {% if bill.company.city is defined%}
                            <div class="col-xs-12">{{ bill.company.city }}</div>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
                <!-- Customer info -->
                <div class="col-xs-6">
                    <div class="row">
                    {% if bill.customer is defined%}
                        <div class="col-xs-12">{{ bill.customer }}</div>
                        {% if bill.customer.address1 is defined%}
                            <div class="col-xs-12">{{ bill.customer.address1 }}</div>
                        {% endif %}
                        {% if bill.customer.address2 is defined%}
                            <div class="col-xs-12">{{ bill.customer.address2 }}</div>
                        {% endif %}
                        {% if bill.customer.bp is defined%}
                            <div class="col-xs-12">{{ bill.customer.bp }}</div>
                        {% endif %}
                        {% if bill.customer.cp is defined%}
                            <div class="col-xs-12">{{ bill.customer.cp }}</div>
                        {% endif %}
                        {% if bill.customer.city is defined%}
                            <div class="col-xs-12">{{ bill.customer.city }}</div>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-xs-12">
                    <table class="table table-responsive table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="col-xs-5">Pr&eacute;station</th>
                                <th class="col-xs-1 right">Quantit&eacute;</th>
                                <th class="col-xs-2 right">Prix unitaire</th>
                                <th class="col-lg-1 right">R&eacute;duction</th>
                                <th class="col-xs-2 right">S/Total</th>
                                <th class="col-xs-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if bill.lines is defined and bill.lines|length > 0 %}
                            {% for line in bill.lines %}
                                <tr data-id="{{ line.id }}" data-parent="{{ bill.id }}">
                                    <td>{% if line.service is defined %}{{ line.service }}{% else %}-{% endif %}</td>
                                    <td class="right">{% if line.quantity is defined %}{{ line.quantity }}{% else %}-{% endif %}</td>
                                    <td class="right">{% if line.unitPrice is defined %}{{ line.unitPrice|number_format(2, '.', ',') }} €{% else %}-{% endif %}</td>
                                    <td class="right">{% if line.discount is defined %}{{ line.discount*100 }} %{% else %}-{% endif %}</td>
                                    <td class="right">
                                        {% if line.quantity is defined and line.unitPrice is defined %}
                                            {% set price = line.quantity * line.unitPrice %}
                                            {% if line.discount is defined %}
                                                {% set discountPrice = price - (price * line.discount) %}
                                            {% else %}
                                                {% set discountPrice = price %}
                                            {% endif %}
                                            {{ discountPrice|number_format(2, '.', ',') }} €
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td class="">
                                        {% if not is_granted('ROLE_SUPER_ADMIN') %}<a title="&Eacute;diter" class="btn btn-success editBillLine glyphicon glyphicon-pencil" data-target="modalEditFom" data-toogle="modal" href="#" data-href="{{ path('path_form_bill_line_edit', {'id': line.id, 'parent': bill.id}) }}"></a>{% endif %}
                                        {% if not is_granted('ROLE_SUPER_ADMIN') %}<a title="Supprimer"class="btn btn-danger glyphicon glyphicon-trash" href="{{ path('path_remove_bill_line', {'line': line.id}) }}"></a>{% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-xs-4 col-xs-offset-8">
                    {% set totalTax = bill.totalHt * bill.taxes %}
                    {% set totalTTC = bill.totalHt + totalTax %}
                    <table class="table table-responsive table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="col-xs-6">Total HT</th>
                                <th class="col-xs-1 right">Total TVA</th>
                                <th class="col-xs-1 right">Total TTC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="right">{{ bill.totalHt|number_format(2, '.', ',') }} €</td>
                                <td class="right">{{ totalTax|number_format(2, '.', ',') }} €</td>
                                <td class="right">{{ totalTTC|number_format(2, '.', ',') }} €</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div aria-hidden="true" aria-labelledby="modalEditFomLabel" role="dialog" tabindex="-1" class="modal fade modalEditFom">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                            <h4 id="modalEditFomLabel" class="modal-title"></h4>
                        </div>
                        <div class="modal-body">
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(function($){
            var twsModalEditForm = $('.modalEditFom');
            $('.editBillLine').unbind('click').click(function(){
                closeModal(twsModalEditForm);
                var url = $(this).attr('data-href');
                $.ajax({
                   url: url,
                   type: 'GET',
                   success: function(res) {
                        $('.modal-body', twsModalEditForm).html(res);
                        openModal(twsModalEditForm, "&Eacute;dition de la ligne de facture");
                        manageButtons();
                    },
                    error: function(xhr) {
                        switch (xhr.status) {
                            case 404:
                                break;
                            case 403:
                                document.location.href = $('a.navbar-brand[action=logout]').attr('href');
                                break;
                            default:
                                break;
                        }
                    }
                });
            });
            $('.createBillLine').unbind('click').click(function(){
                closeModal(twsModalEditForm);
                var url = $(this).attr('data-href');
                $.get(url, function(res) {
                    $('.modal-body', twsModalEditForm).html(res);
                    openModal(twsModalEditForm, "Cr&eacute;ation d&#39;une nouvelle ligne de facture");
                    manageButtons();
                });
            });
            function closeModal(modal) {modal.removeClass('in').attr('aria-hidden', 'true').css({display: 'none'});}
            function openModal(modal, title) {modal.addClass('in').attr('aria-hidden', 'false').css({display: 'block'});$('h4.modal-title', modal).html(title);}
            function manageButtons(){
                $('.close', twsModalEditForm).unbind('click').click(function(){
                    closeModal(twsModalEditForm);
                });
                $('button.close-modal', twsModalEditForm).unbind('click').click(function(){
                    closeModal(twsModalEditForm);
                });
            };
        });
    </script>
{% endblock %}